@CHARSET "UTF-8";

.point{
  	margin-top:10px;
  	padding-left: 235px;
  }
	.photo{
	margin-bottom:10px;
	float: left;
	}
	.content p{
	padding-left:5px;
	padding-top:5px;
	font-size: 25px;
	float: left;
<<<<<<< HEAD
	color:#4ab259;
=======
	color:#429A43;
>>>>>>> branch 'master' of https://github.com/XYScience/MoreSex.git
	}
	
	
   
