@CHARSET "UTF-8";

 .news {
    padding-left: 310px;
    padding-top:10px;
    height: 140px;
    padding-bottom: 10px;
    float:left;
    text-align:right;
   
     }
   .news_img{
   	float:left;
   }
   
   .news_title {
   		width: 410px;
  		height: 40px;
		overflow: hidden;
		float: left;
		padding-left:10px;
		color: #909090;
		font-size: 18px;
   }
   .count{
     float: left;
     color:4ab259;
   }
   .news_content p{
   width: 430px;
   padding-left: 210px;
   }
   
   .time{
    
    padding-bottom: 10px;
   }
   
   .page{
   			padding-left:200px;
   			padding-top: 40px;
   			text-align: center;
   }
   
   .line{
    		margin-top: 15px;
    		color: #EAEAEA;
    	}