@CHARSET "UTF-8";

.news {
	padding-left: 310px;
	padding-top: 10px;
	height: 140px;
	padding-bottom: 10px;
	float: left;
	text-align: right;
}

.news_img {
	float: left;
}

.news_title {
	width: 410px;
	height: 40px;
	overflow: hidden;
	float: left;
	padding-left: 10px;
	color: #909090;
	font-size: 16px;
}

.count {
	float: left;
	color: 4ab259;
}

.news_content p {
	width: 430px;
	padding-left: 210px;
}

.time {
	padding-bottom: 15px;
}

.page {
	padding-left:20px;
	text-align:center;
	padding-top: 40px;
	padding-bottom: 60px;
}
.page span{
	height: 30px;
	float: left;
	line-height: 30px;
	padding:0px 15px;
	border: 1px solid #DDD;
}

.line {
	margin-top: 5px;
	color: #EAEAEA;
}

.paging {
	text-align:center;
	padding-top: 40px;
	padding-bottom: 60px;
	padding-left: 20px;
	float: left;
}


.paging span {
	height: 30px;
	margin-right: 5px;
	float: left;
	line-height: 30px;
	padding:0px 15px;
	border: 1px solid #DDD;
}

.paging2 {
	background: none repeat scroll 0% 0% #429A43;
	color: #FFF;
	display: block;
	padding:0px 15px;
	line-height: 30px;
	float:left;
	border: medium none;
}

.paging em{
    font-family: Georgia,"Times New Roman",Times,serif;
    color: #429A43;
    font-size: 16px;
}

