@charset "utf-8";

/* clearfix */
.clearfix {
	*zoom: 1;
}

.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
	clear: both;
}

.desSlideshow {
	background: url(../images/loading.gif) no-repeat 50% 50%;
}

.desSlideshow .switchBigPic,.desSlideshow .nav {
	display: none;
}